<!doctype html>
<html>
<head>
  <title>FitBank</title>
  <meta charset="utf-8">
  <meta name="description" content="Eating like an investor">
  <meta name="author" content="Cody Romano">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <!-- Set up a proper build system. This is kind of ridiculous :) -->
  <link rel="stylesheet" href="./styles/main.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/settings.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/button.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/nav-footer.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/data-table.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/earn.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/overlay.css" type="text/css"/>

</head>
<body>

<canvas class="confetti" id="world"></canvas>

<main>
    <button class="rewards" onClick="window.location.hash='progress'">
      <span>Rewards</span>
    </button>

  <section class="overlay popout overlay-hidden">
    <div class="header">Calories Transfered!</div>
    <p>We moved 2,000 calories from your Savings account to your daily limit.</p>
  </section>

  <header class="center-col space-bottom-2x">
    <h1>FitBank</h1>
  </header>

  <section class="page-container"></section>

  <button class="settings-icon" onClick="toggleSettingsMenu(true)"></button>
  <div class="settings-wrapper">
    <div class="settings">
      <span class="btn primary" onClick="setDailyCalorieLimit()">Change reward amount</span>
      <span class="btn primary" onClick="reset()">Reset</span>
      <span class="btn secondary" onClick="toggleSettingsMenu(false)">Close</span>
    </div>
  </div>
  <footer class="nav-footer">
    <button id="earn">Rewards</button>
    <button id="spend">Spend</button>
    <button id="invest">Save</button>
  </footer>
</main>

<script src="./js/jquery-3.2.1.js"></script>
<script src="./TableRenderer.js"></script>
<script src="./MetricFactory.js"></script>

  <script>
  
  let queue = [];
  let processing = false;

  const processQueue = () => {
    const item = queue.shift();
    const $popout = $('.popout');

    $popout.find('.header').text(item.header);
    $popout.find('p').text(item.body);
    $popout.removeClass('overlay-hidden');

    setTimeout(() => {
      if (queue.length) {
        processQueue();
      } else {
        processing = false;
        $popout.addClass('overlay-hidden');
      }
    }, item.time);
  };

  window.popout = (header, body, time = 4000) => {
    queue.push({header, body, time});
    if (!processing) {
      processQueue();
      processing = true;
    }
  };
</script>

<script src="./Events.js"></script>
<script src="./Metric.js"></script>
<script src="./Db.js"></script>
<script src="/StarTracker.js"></script>
<script src="./Stock.js"></script>
<script src="./StockFactory.js"></script>
<script src="./Reward.js"></script>
<script src="./Balance.js"></script>
<script src="./confetti.js"></script>

<script>
Balance.render();
</script>

<script>

function daysWithMinSavingsBalance(minBalance) {
  const currentBalance = Balance.getSavings();
  
  if (currentBalance <= minBalance) {

  }
}


function renderStocks() {
  const stocks = StockFactory();
  console.log(stocks);
}

function toggleSettingsMenu(show) {
  const settings = document.querySelector('.settings-wrapper');
  if (show) {
    settings.classList.add('showing');
  } else {
    settings.classList.remove('showing');
  }
}

function reset() {
  var confirm = window.confirm("Really want to reset?");

  const storageItems = [
    'dateLastClaimed',
    'rewardAmount',
    'savings',
    'stars_isObject',
    'dateLastClaimed',
    'metric-rewardsClaimed',
    'metric-totalSpendTransactions',
    'metric-timesSaved',
    'balance'
  ];

  if (confirm) {
    for (const key of storageItems) {
      window.localStorage.removeItem(key);
    }
    window.location.reload();
  }
}

function setDailyCalorieLimit() {
  var limit = window.prompt('How many calories should you consume per day?',
    Reward.getRewardAmount());

  if (!isNaN(limit) && limit > 0) {
    Reward.setRewardAmount(limit);
  }
}

function spendCalories() {
  var spent = window.prompt('How many calories did you consume?');
  if (!isNaN(spent) && spent > 0) {
    Balance.deduct(spent);
  } 
}

function requestReward() {
  const rewardsClaimed = new Metric('rewardsClaimed', 0);

  if (Reward.isEligible()) {
    rewardsClaimed.add(1);

    toggleConfetti();
    Reward.claim(Balance);

    if (rewardsClaimed.get() === 1) {
      Events.publish('firstDeposit');
    }

  } else {
    popout(`No more calories left`, 'You have claimed your calories for today. Come back tomorrow morning.', 6000);
  }
}

function loadContent(contentName) {
  $(`.page-container`).load(`/content/${contentName}.html`, () => {
    if (contentName === 'invest') {
      renderStocks();
    }
  });
}

loadContent('progress');

$(window).bind('hashchange', event => {
  loadContent(window.location.hash.replace('#',''));
});

loadContent(window.location.hash.replace('#',''));

$('.nav-footer button').click(function() {
  const contentName = $(this).attr('id');
  window.location.hash = contentName;
});

Events.publish('starEarned', 'first-login');

Events.subscribe('starUnlocked', star => {
  const audio = document.createElement('audio');
  audio.src = './sound/star.mp3';
  audio.play();

  popout('Achievement unlocked!', star.about, 5000);
});

</script>

<script src="/js/webpack-bundle.js"></script>

</body>
</html>
