<!doctype html>
<html>
<head>
  <title>FitBank</title>
  <meta charset="utf-8">
  <meta name="description" content="Eating like an investor">
  <meta name="author" content="Cody Romano">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./styles/main.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/settings.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/nav-footer.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/data-table.css" type="text/css"/>
  <link rel="stylesheet" href="./styles/earn.css" type="text/css"/>
</head>
<body>

<canvas class="confetti" id="world"></canvas>

<main>
  <header class="center-col">
    <h1>FitBank</h1>
  </header>

  <section class="page-container"></section>

  <button class="settings-icon" onClick="toggleSettingsMenu(true)"></button>
  <div class="settings-wrapper">
    <div class="settings">
      <span class="btn primary" onClick="setDailyCalorieLimit()">Change reward amount</span>
      <span class="btn primary" onClick="reset()">Reset</span>
      <span class="btn secondary" onClick="toggleSettingsMenu(false)">Close</span>
    </div>
  </div>
  <footer class="nav-footer">
    <button id="earn">Rewards</button>
    <button id="spend">Spend</button>
    <button id="invest">Invest</button>
  </footer>
</main>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="./Db.js"></script>
<script src="./Stock.js"></script>
<script src="./StockFactory.js"></script>
<script src="./Reward.js"></script>
<script src="./Balance.js"></script>

<script src="./confetti.js"></script>

<script>
Balance.render();
</script>

<script>
function renderStocks() {
  const stocks = StockFactory();
  console.log(stocks);
}

function toggleSettingsMenu(show) {
  const settings = document.querySelector('.settings-wrapper');
  if (show) {
    settings.classList.add('showing');
  } else {
    settings.classList.remove('showing');
  }
}

function reset() {
  var confirm = window.confirm("Really want to reset?");
  if (confirm) {
    Balance.set(0); 
    Reward.dateLastClaimed = null;
    localStorage.setItem('dateLastClaimed', null);
    localStorage.setItem('rewardAmount', Reward.defaultAmount);
    Balance.render();
  }
}

function setDailyCalorieLimit() {
  var limit = window.prompt('How many calories should you consume per day?',
    Reward.getRewardAmount());

  if (!isNaN(limit) && limit > 0) {
    Reward.setRewardAmount(limit);
  }
}

function spendCalories() {
  var spent = window.prompt('How many calories did you consume?');
  if (!isNaN(spent) && spent > 0) {
    Balance.deduct(spent);
  } 
}

function requestReward() {
  if (Reward.isEligible()) {
    toggleConfetti();
    Reward.claim(Balance);
  } else {
    alert('You have claimed your calories for today. Come back tomorrow.');
  }
}

function loadContent(contentName) {
  $(`.page-container`).load(`/content/${contentName}.html`, () => {
    if (contentName === 'invest') {
      renderStocks();
    }
  });
}

$(window).bind('hashchange', event => {
  loadContent(window.location.hash.replace('#',''));
});

loadContent(window.location.hash.replace('#',''));

$('.nav-footer button').click(function() {
  const contentName = $(this).attr('id');
  window.location.hash = contentName;
});
</script>

<script src="/js/webpack-bundle.js"></script>

</body>
</html>
