@font-face {
  font-family: 'Cash';
  src: url(cash.woff2);
}
main {
  position: relative;
  font-family: Cash, Helvetica;
  z-index: 1;
}
body {
  background-color: #22a301;
}
main {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
h1 {
  padding: 0;
  margin: 2rem 0 0 0;
}
.stat-wrapper {
  /*padding: 1.5em .5em 2em .5em;
  margin: 1rem 0;*/
}
.stat {
  font-size: 4em;
  display: block;
}
.settings {
  color: #eff;
}
.center-col {
  max-width: 20rem;
  margin: 0 auto;
}
.row {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.row-centered-items {
  justify-items: center;
  justify-content: center;
}
.spend-page {
  padding: 0 0.5rem;
}
h2 {
  font-size: 1.25rem;
}
.hidden {
  display: none;
}
.input-wrapper {
  margin-bottom: 0.5rem;
}
.calorie-input {
  font-size: 3rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #555;
  width: 6ch;
  text-align: center;
  margin: 0.75rem 0 1rem 0;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

