.nav-footer {
  display: flex;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  box-shadow: 0.01rem 0.01rem 1rem 0.05rem rgba(0,0,0,0.25);
}
.nav-footer button {
  flex: 1;
  color: #22a301;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.75rem;
}
.nav-footer button + button {
  border-left: solid #ccc 0.01rem;
}
.nav-footer button:target {
  border-top: solid #3cd428 0.5rem;
  margin-top: -0.5rem;
}